body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f9;
}

.description {
    margin-top: 20px;
    width: 70%;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.button-container {
    margin-top: 20px;
}

#generate-word-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
#generate-word-btn:hover {
    background-color: #218838;
}
  
.word-display {
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.guess-status-display {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

.correct {
    color: #218838;
}

.wrong {
    color:red;
}

.hidden {
    display: none;
}